<!DOCTYPE html>
<html>
<head>
    <title>Blog - Stefano Zanella</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <link rel="icon" type="image/png" href="../images/logo.png">
</head>
<body>
    <header class="toolbar">
        <div class="toolbar-content">
            <a href="../index.html" class="logo-link">
                <img src="../images/logo.png" alt="Logo" class="logo">
                <span class="name">Stefano Zanella</span>
            </a>
        </div>
    </header>
    <main>
        <h1>Blog</h1>
        <p>This is the blog of Stefano Zanella, an explorer of the world and of the wild web</p>
        <p>Here I write about my experiences and my thoughts</p>
        <p>Everything i am writing is spontaneosly coming from my thoughts, my experiences and my studies. No AI involved in my writings. Some things could be opinable.</p>
        <ul class="blog-list">
            {{#articles}}
            <li>
                <a href="generated/{{urlFriendlyTitle}}.html">{{title}}</a>
                {{#date}}<small>{{date}} · {{readTime}}</small>{{/date}}
            </li>
            {{/articles}}
        </ul>
    </main>
</body>
</html> 